@font-face {
    font-family: 'ziyuanyuanti400W';
    src: url('./ResourceHanRoundedCN-400w.ttf');
}

@font-face {
    font-family: 'ziyuanyuanti500W';
    src: url('./ResourceHanRoundedCN-500w.ttf');
}

@font-face {
    font-family: 'ziyuanyuanti600W';
    src: url('./ResourceHanRoundedCN-700w.ttf');
}



